body { background-color: #FCEBB6;
      color: #221811;
      font=family: Tahoma, Arial, sans-serif;
}
#wrapper { background-color: #FEFAEB;
           margin-left: auto;
           margin-right: auto;
           
}
